body {
	margin: 0;
	font-family: "Times New Roman", Times, serif;
}

.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: black;
	position: fixed;
	height: 100%;
	overflow: auto;
	display:flex;
	flex-direction: column;
}

.sidebar a {
	display: block;
	color: white;
	padding: 16px;
	text-decoration: none;
}

.sidebar a.active {
	background-color: rgb(64, 128, 128);
	color: white;
}

.sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
}

div.content {
	margin-left: 200px;
	margin-top: 54px;
	padding: 1px 16px;
}

@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {
		float: left;
	}
	div.content {
		margin-left: 0;
	}
}

@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}

h2 {
	font-weight: bold;	
}

/* Modify the background color */
.navbar-custom {
	background-color: black;
	position: fixed;
  	top: 0;
  	width: 100%;
  	z-index:1;
}
/* Modify brand and text color */
.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
	color: white;
	font-weight: bold;
	padding-left: 16px;
}

#searchBar {
	width: 100%;
}

.error-message {
	color: red;
}
