<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sales & Inventory Management</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<nav class="navbar navbar-custom">
        <a class="navbar-brand" th:href="@{/}"><i class="bi-front"></i>  Sales & Inventory Management</a>
    </nav>
    
	<div class="sidebar">
		<a th:href="@{/inventory}"><i class="bi-box-seam"></i> Inventory</a> 
		<a th:href="@{/sales}"><i class="bi-bar-chart-line"></i> Sales</a>
		<a th:href="@{/customers}"><i class="bi-people-fill"></i> Customers</a>
		<a class="logout" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
	</div>

	<div class="content">
		<div class="container my-3">
        	<h2>EDIT SALE</h2>
            <form th:action="@{/sales/edit}" th:object="${sale}" method="POST">
				<div class="col-md-6 form-group">
                	<input type="hidden" class="form-control" th:field="*{id}" readonly>
                </div>
                <div class="col-md-6 form-group">
                    <label>Date Of Sale</label>
                    <input type="date" class="form-control" th:field="*{dateOfSale}">
                    <p class="error-message" th:each="error : ${#fields.errors('dateOfSale')}" th:text="${error}">Validation error</p>
                </div>
           		<div class="col-md-6 form-group">
                	<label>Customer</label><br>
                    <select class="form-select" th:field="*{customer}">
  						<option th:each="cust : ${custList}" th:value="${{cust}}" th:text="${cust.firstName} + ' ' + ${cust.lastName}"></option>
					</select>
               	</div>
                <div class="col-md-6 form-group">
                    <label>Item</label><br>
                    <select class="form-select" th:field="*{item}">
                    	<option th:each="item : ${itemList}" th:value="${{item}}" th:text="${item.name}"></option>
					</select>
                </div>
               	<div class="col-md-6 form-group">
                    <label>Quantity</label>
                    <input type="number" step="any" class="form-control" th:field="${sale.quantity}">
                    <p class="error-message" th:each="error : ${#fields.errors('quantity')}" th:text="${error}">Validation error</p>
                </div>
                <div class="col-md-6 form-group">
                    <label>Sale Price Per Item</label>
                    <input type="number" step="any" class="form-control" th:field="${sale.salePrice}">
                    <p class="error-message" th:each="error : ${#fields.errors('salePrice')}" th:text="${error}">Validation error</p>
                </div>
            	<div class="col-md-6 form-group">
                    <label>Sale Status</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="${sale.paid}" id="option1" value="1">
                        <label class="form-check-label" for="option1">Paid</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="${sale.paid}" id="option2" value="0">
                        <label class="form-check-label" for="option2">Unpaid</label>
                   	</div>
                </div>
                <br>
               	<button type="submit" class="btn btn-outline-dark btn-sm">Update Sale Info</button>
           	</form>
		</div>
	</div>
	
</body>
</html>